
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-y: scroll;
}
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    hyphens: auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #4e4aa4;
    text-decoration: underline;
    cursor: pointer;
}
strong {
    font-weight: bold;
}
sup,
sub {
    font-size: .7em;
    line-height: 0;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
.txtcenter {
    text-align: center;
}
.txtright {
    text-align: right;
}
.txtbold {
    font-weight: bold;
}
.fr {
    float: right;
    margin-left: 10px;
}
.fl {
    float: left;
    margin-right: 10px;
}
.fr img {
    vertical-align: middle;
}
.clear {
    clear: both;
}
.mtm {
    margin-top: 10px;
}
.mtml {
    margin-top: 20px;
}
.mtl {
    margin-top: 40px;
}
.mrm {
    margin-right: 10px;
}
.mrl {
    margin-right: 40px;
}
.mll {
    margin-left: 40px;
}
.row {
    clear: both;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.col {
    flex: 0 1 auto;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
img.icon {
    vertical-align: middle;
}
img {
    max-width: 100%;
}
.alert {
    color: red;
}
.section {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    padding: 0 10px;
}
p, ul {
    margin-top: 10px;
}
.hiddenChar {
    font-size: 0;
}
.btn {
    text-align: center;
    background-color: #4e4aa4;
    border: 2px solid #234a16;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 5px 5px 8px #eee, 2px 2px 6px #63bd43 inset;
}
.btn:hover {
    background-color: #346b21;
}
.btn:focus, .btn:active {
    box-shadow: 5px 5px 8px #eee, 2px 2px 6px #2a501d inset;
}
.mainContainer {
    padding: 0 8px;
}
.pageContent {
    text-align: justify;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/*
*
* Branding
*
*/
.header {
    background-color: #2d266d;
    box-shadow: 0px 1px 5px #888888;
}
.subHeader {
    height: 30px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: white;
    background-color: #4e4aa4;
}
.siteLogo {
    padding-top: 10px;
}
.siteLogo img {
    width: 120px; /**/
    margin-right: -3px;
}
.siteTitle {
    font-family: "Fira Sans", sans-serif;
    font-size: 56px;
    color: white;
    text-align: center;
    width: 100%;
    word-spacing: .4em;
}
.siteTitle img {
    vertical-align: middle;
}

/*
*
* Navigation
*
*/
#menu {
    text-align: center;
}
#menu li {
    display: inline-block;
}
#menu a {
    padding: 5px 1.25rem 3px;
    display: inline-block;
    color: #ccc;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.125rem;
    border-top-left-radius : 8px;
    border-top-right-radius : 8px;
}
#menu a:hover {
    background-color: #4d4872;
}
#menu li.active a {
    background-color: #4e4aa4; /* 448b2b*/
    color: #fff;
}

/*
*
* Titles
*
*/
h1 {
    margin-top: 1em;
    margin-right: 20px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 1em;
    font-family: "Fira Sans", sans-serif;
}
h2 {
    margin-top: 1em;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0;
    line-height: 1;
}
h3 {
    font-size: 1.5em;
    margin-top: 1em;
}
.subtitle {
    font-size: 1.3em;
    text-align: center;
}
.pageContent ul {
    list-style-type: square;
    margin-left: 3em;
}
.pageContent  ul ul {
    list-style-type: disc;
    margin-top: 0;
}
.three-cols-list {
    margin-left: 0;
}
.three-cols-list li {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
    position: relative;
}
.three-cols-list.clickable {
    cursor: pointer;
}
.three-cols-list img {
    max-width: 100%;
}

/*
*
* HOME
*
*/
#splashImage {
    overflow: hidden;
    min-width: 100%;
    white-space: nowrap;
    max-height: calc(100vh - 200px);
    min-height: 200px;
}
#actus img {
}
#actusContent {  /* modifié */
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    background-color: #faa819;
    /*background-color: rgba(236,236,236,0.85);*/
    box-shadow: 5px 5px 8px #eee;
    border: 1px solid #ccc;
    text-align: center;
    color: #362e87;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#actusContent a {
    color: #ff4d67;
}

#actus a {
    color: #4e4aa4;
}
#actusContent > p:first-child {
    margin-top: 0;
}

.table {
    margin: 1em 10px 1em 0;
    box-shadow: 5px 5px 8px #eee;
    border-radius: 6px;
    width: 100%;
}
.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
}
.table th {
    background-color: #fff1e5;
    font-weight: bold;
    text-align: center;
}

.colorCategories {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 8px #eee;
    margin: 2em auto;
    width: calc(100% - 2em);
    text-align: left;
}
.colorCategories thead th {
    border-bottom: 1px solid #333;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
}
.colorCategories .colorCategory {
    border-top: 1px solid #333;
}
.colorCategories .colorCategory:first-child {
    border-top: none;
}
.colorCategories .colorCategoryTitle {
    padding: 10px;
    color: #000;
    font-size: 1.3em;
    width: 25%;
    vertical-align: middle;
}
.colorCategory td {
    padding: 10px;
}
table td p:first-child,
table td ul:first-child{
    margin-top: 0;
}
.colorCategory.white {
    background-color: #fff;
}
.colorCategory.white .colorCategoryTitle {
    background-color: #efefef;
}
.colorCategory.yellow {
    background-color: #ffffab;
}
.colorCategory.yellow .colorCategoryTitle {
    background-color: #ffef00;
}
.colorCategory.orange {
    background-color: #fdd5a4;
}
.colorCategory.orange .colorCategoryTitle {
    background-color: #ff8c00;
}
.colorCategory.green {
    background-color: #8ff38f;
}
.colorCategory.green .colorCategoryTitle {
    background-color: #06d606;
}
.colorCategory.blue {
    background-color: #93beff;
}
.colorCategory.blue .colorCategoryTitle {
    background-color: #0037ff;
    color: #efefef;
}
#pagePreparation .colorCategoryTitle {
    padding: 3px 10px;
}
#pagePreparation .colorCategoryTitle ul {
    font-size: 1rem;
}
#pagePreparation .colorCategories .activityTitle {
    font-size: 1.5em;
}
#pagePreparation .colorCategories .colorCategory-description {
    width: 50%;
    vertical-align: middle;
}
#pagePreparation .colorCategories .colorCategory-content {
    width: calc(50% / 3);
    border-left: 1px solid #333;
    background-color: #fff;
}
.languageSelector {
    border-left: 1px solid #333;
}
.languageSelector ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.languageSelector a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-family: 'Fira Sans', 'Open Sans', sans-serif;
    border: 1px solid #333;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 3px;
    box-shadow: 3px 3px 3px #9c9696, -1px -1px 3px #ccc inset;
}
.languageSelector a:hover {
    background-color: #4e4aa4; /* 448b2b*/
    color: #fff;
    box-shadow: 3px 3px 3px #9c9696, -1px -1px 3px #333 inset;
}

/*
*
* TABS
*
*/
.tabSelectors {
    border-bottom: 3px solid #4e4aa4; /* 448b2b*/
}
.tabSelectors ul {
    margin: 0 0 0 2em;
    padding: 0;
    list-style-type: none;
}
.tabSelectors li {
    display: inline-block;
}
.tabSelectors li a {
    padding: 0 20px;
    line-height: 2em;
    text-decoration: none;
    color: #000;
    display: block;
    border: 1px solid #4e4aa4; /* 448b2b*/
    margin-bottom: -1px;
    margin-right: 2px;
    border-radius: 8px 0px 0 0;
    background-color: #c7e0bf;
}
.tabSelectors li.active a {
    background-color: #4e4aa4; /* 448b2b*/
    color: #fff;
}

/*
*
*
* VIGNETTES
*
*/
.vignettes {
    margin: 2em auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(100% - 2em);
    box-shadow: 5px 5px 8px #eee;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.vignette {
    flex: 1 0 50%;
    padding: 20px;
    border: 1px solid #ccc;
    margin: -1px;
}
.vignette h3 {
    text-align: center;
    color: #000;
    margin: 0 auto 20px;
}
.vignette img {
    max-width: 110px;
    height: auto;
}

/*
*
* AWARDS
*
*/
#pageRecompenses .col {
    margin-bottom: 20px;
    padding: 0;
}
#pageRecompenses .col > div {
    margin: 10px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #eee;
    border: 1px solid #ccc;
}
.awardSponsor {
    line-height: 110px;
    vertical-align: middle;
    text-align: center;

}
.awardLogo {
    vertical-align: middle;
}
table.awards {
    table-layout: fixed;
}
.awards tr td {
    padding: 0 6px;
    width: 25%;
    border-left: 1px solid gray;
    vertical-align: top;
}
.awards tr td:first-child, .awards table tr td {
    border: none;
}
.awards tr:nth-of-type(1) td, .awards tr:nth-of-type(3) td, .awards tr:nth-of-type(5) td {
    text-align: center;
    vertical-align: middle;
}

/*
*
* RESULTS
*
*/
.hscroll {
    overflow-x: auto;
}
table.borders {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.borders tr td {
    border: solid black 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
.borders tr td:not(:first-child):not(:last-child) {
    width: 6.5%;
}
.borders tr:first-child,
.borders tr td:first-child {
    font-weight: bold;
}
table .orange {
    background-color: #fdd5a4;
}
table .yellow {
    background-color: #ffffab;
}
table .green {
    background-color: #8ff38f;
}
table .blue {
    background-color: #93beff;
}
table .gray {
    background-color: #c0c0c0;
}
table.ranking {
    margin: auto;
    border-collapse: collapse;
}
.ranking tr:nth-child(2n + 1) {
    background: #F2F6FF;
}
.ranking th,
.ranking td {
    padding: 3px;
    border: 1px solid black;
}
.ranking th {
    background: #C0D0F8;
    font-weight: bold;
}

/*
*
* Footer
*
*/
body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background-color: #4e4aa4; /* #448b2b; */
    padding-bottom: 10px;
}
#copyright {
    text-align: center;
    padding-top: 20px;
    color: white;
}
#copyright a {
    color: white;
    text-decoration: underline;
}

/*
*
* Media queries
*
*/
@media (max-width: 639px) {
    html {
        font-size: 14px;
    }

   .siteTitle {
        font-size: 32px;
    }
    .siteTitle img {
        width: 40px;
    }

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }

    .tabSelectors ul {
        margin-left: 1em;
    }
}

@media (min-width: 640px) {
    .one-third {
        flex: 0 1 50%;
    }
}
@media (min-width: 800px) {
    .one-half {
        width: 50%;
    }
    .one-third {
        flex: 0 1 33.33%;
    }
}

/* Ajout css Marielle */

/* Page de présentation */

.image_contenu {
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
}

.bouton_acces { 
    height: 50px;
    background-color: #4e4aa4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#acces_exemple {
    width: 250px;
}

.bouton_acces:hover {
    background-color: #4d4872;
}

.bouton_acces p {
    margin: 0;
    color: white;
    text-align : center;
    font-size: 1.2em;
}

#chronologie {
    margin: 20px;
    width: 100%;
    max-width : 800px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titre_tour {
    text-align: center;
    font-size: 1.5em;
}

.mois_fin {
    text-align: right;
    padding-right: 30px;
}

.mois_debut {
    text-align: left;
    padding-left: 30px;
}

.mois_seul {
    text-align: center;
}

.mois_tour {
    width: 20%;
    font-size: 1.2em;
}

.tour1 {
    background-color: #8ac6ff;
}
.tour2 {
    background-color: #bc99f0;
}
.tour3 {
    background-color: lightcyan;
}

/* Page participer */


#modes_inscription {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%
}

.modalite_inscription {
    font-weight: 600;
}

.col_image {
    background-color: #2b2467;
    width: 15%;
    text-align: center;
}

.col_image img {
    margin: 0 auto;
}

.inscription_castor, .inscription_algorea {
    height: 150px; 
}

#modes_inscription td {
    vertical-align: middle;
    padding : 10px;
    border: 1px solid #ccc;
}

#acces_coordinateur {
    width: 380px;
    margin-bottom: 20px;
}

.temps_classe {
    text-align: center;
    vertical-align:middle;
}

/* Tableau des notions */

.tableau_notions {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .tableau_notions .container {
    margin: 20px auto;
    width: 918px;
    position: relative;
    max-width: 95vw;
  }

  .tableau_notions .image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .tableau_notions .buttons {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 8%;
    left: 10%;
    width: 50%;
  }

  .tableau_notions .buttons button {
    flex: 1 1 33%;
    padding: 0.3em 0.6em;
    background-color: #5f5666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 1;
  }
  
  .tableau_notions .buttons button.active {
    background-color: #b66fd9;
    font-weight: bold;
  }

  .tableau_notions .buttons button:hover {
    background-color: #8652a0;
  }

  @media screen and (max-width: 800px) {
    .tableau_notions .buttons {
      font-size: 0.7em;
    }
  }
