<div id="pageParticipation" class="pageContent">
  <h1>Comment participer ?</h1>

  <div ng-controller="TabController" class="tabset">
    <div class="tabSelectors">
      <ul>
        <li ng-class="{ active: isTabSet(1) }">
            <a href ng-click="setTab(1)">Enseignants</a>
        </li>
        <li ng-class="{ active: isTabSet(2) }">
            <a href ng-click="setTab(2)">Élèves</a>
        </li>
        <li ng-class="{ active: isTabSet(3) }">
            <a href ng-click="setTab(3)">Progresser parmi les catégories</a>
        </li>
      </ul>
    </div>
    <div class="tabs">
      <div class="tab" ng-show="isTabSet(1)">
        <p>Chaque élève qui a participé au concours Castor se verra attribuer une catégorie initiale en fonction de son résultat, visible sur l’interface coordinateur après la publication des résultats.</p>
        <p>Les élèves qui n’ont pas participé au Castor peuvent participer par défaut en catégorie blanche.</p>
        <p>Vous pourrez ouvrir l’accès à l’épreuve en catégories blanche, jaune et orange à tout élève qui vous semble avoir les compétences correspondantes.</p>
        <p class="txtcenter"><a href="#/#categroiesPresentation">voir la description des catégories</a></p>
        <p>Pour accéder aux catégories verte et supérieures, un élève doit se qualifier lors d’un entraînement ou d’une épreuve précédente.</p>
        <p>Pour organiser chaque épreuve d’entraînement et de concours, utilisez votre interface coordinateur.  Deux modalités combinables sont proposées :</p>

        <table class="table">
          <thead>
            <tr>
              <th width="50%">En classe</th>
              <th>À la maison</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Vous créerez des groupes d’entraînement et/ou de participation au concours en classe en choisissant pour chacun :</p>
                <ul>
                  <li>La catégorie : <strong>blanche, jaune ou orange</strong>,</li>
                  <li>Le langage de programmation.</li>
                </ul>
                <p>Le jour de la séance, vous distribuez le code de groupe à tous les élèves qui participent dans une même catégorie.</p>
                <p>La participation se fait seul ou en binôme.</p>
              </td>
              <td>
                <p>Vous permettrez aux élèves de s’entraîner et/ou de passer le concours à la maison, en imprimant et distribuant leurs <strong>codes de participants Algoréa</strong>.</p>
                <p>L’élève choisira le langage de programmation et la catégorie sera affectée automatiquement.</p>
                <p>La participation est alors individuelle.</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p>Les élèves qui ont atteint la <strong>catégorie verte</strong> ou bleue peuvent participer en classe ou à la maison, uniquement en utilisant leur <strong>code de participant Algoréa</strong>. Les binômes ne sont plus autorisés dans ces catégories.</p>
              </td>
            </tr>
          </tbody>
        </table>

        <p>En fonction du temps que vous pouvez consacrer en classe à Algoréa, nous vous conseillons plusieurs possibilités :</p>

        <table class="table">
          <thead>
            <tr>
              <th width="25%">Temps de cours consacré à Algoréa </th>
              <th>Notre suggestion d’organisation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aucun</td>
              <td>
                <ul>
                  <li>Distribuer les codes de participants Algoréa à vos élèves dès la publication des résultats du Castor
                  </li><li>Proposer aux élèves de s’entraîner et faire chaque épreuve à la maison.
                  </li><li>Rappeler aux élèves de participer au début de la période de chaque tour (Janvier, Mars et Mai).
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>1 à 3 séances de 45 min</td>
              <td>
                <ul>
                  <li>Privilégier l’organisation des épreuves du concours en classe (Janvier, Mars et Mai). Elles sont conçues pour progresser même sans entraînement préalable.
                  </li><li>Proposer aux élèves de faire à la maison les épreuves que vous ne pouvez pas organiser en classe, de se préparer aux épreuves par des modules d'entraînement :
                    <ul>
                      <li>Distribuer les codes de participant Algorea
                      </li><li>Informer de la possibilité de progresser de catégorie en réussissant des modules d'entraînement.
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Plus de 3 séances de 45 min</td>
              <td>
                <ul>
                  <li>Utiliser le concours Algoréa comme support de votre projet pédagogique d’enseignement de la programmation.
                  </li><li>Organiser en classe les  épreuves du concours
                  </li><li>Aider vos élèves à progresser de catégorie en organisant des séances d'entraînement : les modules d'entraînement, comme les épreuves du concours, sont différenciés en fonction des catégories et visent des compétences ciblées en programmation.
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab" ng-show="isTabSet(2)">
         <h2>Modes de participation</h2>
         <p>
            Le concours Algoréa peut se faire en classe, à la maison, ou un peu des deux :
         </p>

        <table class="table">
          <thead>
            <tr>
              <th width="50%">En classe</th>
              <th>À la maison</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>
                  Votre enseignant peut organiser des séances d'entraînement ou de concours en classe, pour les catégories blanche, jaune et orange.
                </p>
                <p>
                  Dans ce cas, il vous donnera un code de groupe au début de chaque séance.
                </p>
                <p>
                  La participation pourra se faire seul ou en binôme.
                </p>
              </td>
              <td>
                <p>
                   Pour pouvoir faire le concours chez vous si vous ne le faites pas en classe, ou bien pour vous entraîner, vous aurez besoin d'un code de participant Algoréa.
                </p>
                <p>
                  Avec ce code, vous pourrez accéder aux résultats, ou débloquer des catégories.
                </p>
                <p>
                  La participation sera individuelle uniquement.
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
               <p>
                  Pour les catégories verte et bleue, en classe comme à la maison, il faudra utiliser votre
<strong>code de participant Algoréa</strong>. La participation est individuelle uniquement (pas de binômes)
               </p>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
         Vous ne devez bien sûr pas faire la même épreuve du concours deux fois lors du même tour.
        </p>
        <h2>Obtenir un code de participant</h2>
        <p>
        Un code de participant pourra s'obtenir de 3 manières :
        </p>
        <p>
        <strong>Attention</strong> : les codes de participants ne sont pas encore disponibles
        </p>
        <table class="table">
          <thead>
            <tr>
              <th width="33%">Par un enseignant</th>
              <th width="33%">Par un entraînement</th>
              <th>Sur france-ioi.org</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>
                  Vous avez participé au concours Castor, ou avez fait une séance Algoréa en classe&nbsp;?
                </p>
                <p>
                  Votre enseignant pourra vous distribuer votre code de participant, imprimé depuis son interface coordinateur.
                </p>
              </td>
              <td>
                <p>
                  Si vous faites un entraînement en accès libre et obtenez au moins 100 points, vous pourrez demander un code de participant.
                </p>
              </td>
              <td>
                <p>
                  Si vous avez un compte sur le site france-ioi.org, et que vous avez résolu au moins 12 exercices, vous pouvez obtenir un code de participant.
                </p>
                <p>
                  Connectez-vous sur <a href="http://france-ioi.org">france-ioi.org</a> puis allez sur [cette page]
                </p>
              </td>
            </tr>
          </table>
          <p>
            <strong>Attention</strong> : il est interdit à une personne d'utiliser plusieurs codes de participants.  Si vous en avez obtenu deux suite à une fausse manipulation, vous pourrez bientôt les fusionner.
          </p>
      </div>

      <div class="tab" ng-show="isTabSet(3)">
        <h2>Valider une catégorie</h2>
        <p>
         Lors de chaque épreuve du concours Algoréa, votre objectif doit être d’obtenir un maximum de points à l’épreuve, pour bien vous classer dans cette catégorie, et valider cette catégorie.
        </p>
        <p>
          Valider une catégorie signifie que vous avez obtenu plus d’un certain score (en général 100 points minimum), et ainsi prouver que vous maîtrisez les concepts associés à cette catégorie. Selon votre score, vous pouvez avoir de 2 étoiles à 4 étoile rattachés à votre catégorie.
        </p>
        <p>
          Ainsi si vous avez obtenu 100 points lors d’une épreuve de concours en catégorie orange, vous aurez validé : catégorie orange, 2 étoiles. Etc. Le nombre de points pour valider 3 ou 4 étoiles sera fixé après chaque concours.
        </p>
        <h2>Accéder à une catégorie</h2>
        <p>
          Avant de pouvoir valider une catégorie, il faut y avoir accès.
        </p>
        <p>
          Il y a quatre manières d’obtenir l’accès à une catégorie :
        </p>
        <h3>1) Le concours Castor</h3>
        <p>
          Si vous avez participé au concours Castor, vous obtenez automatiquement l’accès à une catégorie, de blanche à orange selon votre score.
        </p>
        <h3>2) Le concours Algoréa</h3>
        <p>
          Si vous atteignez 100 points ou plus lors du concours Algoréa dans une catégorie, vous obtenez immédiatement l’accès à la catégorie suivante. Parfois c’est un peu moins de 100 points; vérifiez une fois les résultats publiés.
        </p>
        <h3>3) La préparation</h3>
        <p>
          Si vous obtenez 100 points ou plus lors d’une préparation dans une catégorie parmi blanche, jaune ou orange, vous obtenez l’accès à cette catégorie pour le concours.
        </p>
        <h3>4) Progresser sur france-ioi.org</h3>
        <p>
          Si vous avez un compte france-ioi.org, vous pouvez obtenir un accès direct aux catégories, selon le nombre d’exercices que vous avez résolus et les niveaux que vous avez validés.
        </p>
        <p>
          Allez sur [cette page] pour voir les détails.
        </p>
<!--
        <table class="colorCategories">
          <thead>
            <tr>
              <th class="colorCategoryTitle">Catégorie</th>
              <th>Conditions d’accès via france-ioi.org</th>
            </tr>
          </thead>
          <tbody>
            <tr class="colorCategory white">
              <td class="colorCategoryTitle">Blanche</td>
              <td>Avoir validé 12 exercices</td>
            </tr>
            <tr class="colorCategory yellow">
              <td class="colorCategoryTitle">Jaune</td>
              <td>Avoir validé 20 exercices</td>
            </tr>
            <tr class="colorCategory orange">
              <td class="colorCategoryTitle">Orange</td>
              <td>Avoir validé 50 exercices</td>
            </tr>
            <tr class="colorCategory green">
              <td class="colorCategoryTitle">Verte</td>
              <td>Avoir validé le niveau 2 du parcours général</td>
            </tr>
            <tr class="colorCategory blue">
              <td class="colorCategoryTitle">Bleue</td>
              <td>Avoir validé le niveau 3 du parcours général</td>
            </tr>
          </tbody>
        </table>
-->
      </div>
    </div>
  </div>
</div>