<div id="pagePresentation" class="pageContent">
  <h1>Algoréa : 3, 2, 1... programmez !</h1>

  <p>Pour encourager les jeunes françaises et français à progresser en programmation et algorithmique,
    <strong><a href="http://www.france-ioi.org">France-ioi</a></strong> organise un grand concours gratuit, ouvert à tous les élèves du CM1 à la terminale : le <strong>concours Algoréa</strong>. 
  <p>Plus de 250 000 participants à l'édition 2024 !</p>

  <h2>En quoi consiste Algoréa ?</h2>

  <p>Découvrez l'interface Algoréa avec un problème d'exemple, accessible immédiatement !</p>

  <a href="https://concours.castor-informatique.fr/?team=demoalgo" target="_new">
    <div class="bouton_acces" id="acces_exemple">
      <p>Accéder à l'exemple</p>
    </div>
  </a>
  
  <center>
    <a href="https://concours.castor-informatique.fr/?team=demoalgo" target="_new"><img class="image_contenu" src="images/teaser_scratch.png"/></a>
  </center>

  <p>
    Algoréa se déroule sur la <a href="https://concours.castor-informatique.fr" target="_new">même plateforme que le concours Castor</a>, en classe ou à la maison.
  </p>

  <h2>Une première phase pour progresser à son rythme</h2>
  
  <!--Frise chronologique-->
  <center>
    <img class="image_contenu" src="images/chronologie_phase_1.png" />
  </center> 
  
  <p>Pour l'édition 2025 :</p>
  <ul>
    <li><strong>Premier tour : du 6 janvier au 28 février</strong>.
    </li><li><strong>Deuxième tour : du 3 mars au 25 avril</strong>.
    </li><li><strong>Troisième tour : du 28 avril au 23 mai</strong>.
    </li>
  </ul>

  <p>Lors de cette phase :</p>
  <ul>
    <li>Aucune sélection, mais des catégories adaptées au niveau de chacun et chacune, et s'appuyant sur les notions présentes dans les programmes scolaires.</li>
    <li>Sessions de 45 minutes.</li>
    <li>Choix du langage de programmation entre Scratch, Blockly et Python.</li>
    <li>Participation en binôme possible pour les catégories blanche et jaune.</li>
  </ul>

  <p><strong>Avec un score de 160 points sur 240, le passage dans la catégorie suivante est automatique !</strong></p>

  <p>Ci-dessous, le tableau des catégories est affiché en Scratch par défaut. Vous pouvez l'afficher en Blockly ou Python en cliquant sur le bouton du langage.</p>

  <!--<center>
    <img class="image_contenu" src="images/categories_scratch.png"/>
  </center>-->
  <div class="tableau_notions" ng-init="notion = 0">
    <div class="container">

      <img ng-show="!notion" src="images/categories_scratch.png" alt="Notions en Scratch" class="image">
      <img ng-show="notion == 1" src="images/categories_blockly.png" alt="Notions en Blockly" class="image">
      <img ng-show="notion == 2" src="images/categories_python.png" alt="Notions en Python" class="image">

      <div class="buttons">
          <button ng-click="notion = 0" ng-class="!notion && 'active'">Scratch</button>
          <button ng-click="notion = 1" ng-class="notion == 1 && 'active'">Blockly</button>
          <button ng-click="notion = 2" ng-class="notion == 2 && 'active'">Python</button>
      </div>
    </div>
  </div>

  <h2>Une phase finale pour se surpasser</h2>

  <!--Frise chronologique-->
  <center>
    <img class="image_contenu" src="images/chronologie_phase_2.png" />
  </center> 

  <p>Pour la phase finale, le choix du langage de programmation est étendu aux langages suivants :<br/>
  Scratch, Blockly, Python, C, C++, Java</p>

  <p>Voici les dates et les conditions de participation pour l'édition 2025 :</p>

  <ul>
    <li><strong>Quart de finale du 26 mai au 8 juin 2025</strong>.</li>
    <ul>
      <li>Deux modes de qualification :
        <ul>
          <li>Obtenir un seuil de points lors d'un tour de la première phase en catégorie orange, diffusé à l'issue du troisième tour.</li> <!--seuil à redéfinir-->
          <li>Valider le niveau 3 sur france-ioi.org.</li>
        </ul>
      </li>
      <li>Épreuve de 2 heures en classe ou à la maison</li>
    </ul>
  </ul>

  <ul>
    <li><strong>Demi-finale du 9 au 18 juin 2025</strong>.</li>
    <ul>
      <li>Qualification : seuil de score qui dépend de la classe, diffusé à l'issue du quart de finale</li>
      <li>Épreuve de 3h dans un établissement scolaire</li>
    </ul>
  </ul>

  <ul>
    <li><strong>Finale du 1 au 6 juillet 2025</strong>.</li>
    <ul>
      <li>Stage de 6 jours</li>
      <li>Participation gratuite, les frais d'hébergement étant pris en charge par l'association</li>
      <li>Encadrement par des anciens participants aux Olympiades Internationales d'Informatique (IOI)</li>
      <li>Deux épreuves de 4h</li>
      <li>Stage réservé aux élèves français ou scolarisés en France, <strong>du CM1 à la 1<sup>re</sup></strong></li>
      <li>Version en ligne ouverte aux élèves qui ont atteint le seuil de score mais ne sont pas éligibles</li>
    </ul>
  </ul>
  <h2>Nos soutiens</h2>

  <p>Le concours Algoréa est organisé par France-ioi, avec le soutien de nos partenaires ci-dessous.</p>
  
  <center>
  <a href="https://www.esiea.fr/?utm_source=france-ioi&utm_medium=content-partenaire&utm_campaign=concours-algorea&oscar_id" target="_new"><img src="images/logo_esiea.svg" style="width:300px;padding:10px"></a>
  <br/><br/>
  <a href="https://www.casio-education.fr" target="_blank"><img src="images/logo_casio.png" style="width: 150px;" class="awardLogo"/></a>

  </center>
</div>
